<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Logovanje</servlet-name>
        <servlet-class>servleti.Logovanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servleti.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Izmena</servlet-name>
        <servlet-class>servleti.Izmena</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registracija</servlet-name>
        <servlet-class>servleti.Registracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Poruka</servlet-name>
        <servlet-class>servleti.Poruka</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reklamacije</servlet-name>
        <servlet-class>servleti.Reklamacije</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisiPoruku</servlet-name>
        <servlet-class>servleti.BrisiPoruku</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Paste</servlet-name>
        <servlet-class>servleti.Paste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaPasta</servlet-name>
        <servlet-class>servleti.ListaPasta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajPastu</servlet-name>
        <servlet-class>dodaj.DodajPastu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisiPastu</servlet-name>
        <servlet-class>brisi.BrisiPastu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzmenaPaste</servlet-name>
        <servlet-class>izmeni.IzmeniPastu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikaziPastu</servlet-name>
        <servlet-class>prikazi.PrikaziPastu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Izmeni_pastu</servlet-name>
        <servlet-class>izmeni.Izmeni_pastu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>korpaPasta</servlet-name>
        <servlet-class>korpa.korpaPasta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KorpaPasta</servlet-name>
        <servlet-class>korpa.KorpaPasta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Korpa</servlet-name>
        <servlet-class>korpa.Korpa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IzbaciPastu</servlet-name>
        <servlet-class>korpa.IzbaciPastu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisiKorpu</servlet-name>
        <servlet-class>korpa.BrisiKorpu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kolicina</servlet-name>
        <servlet-class>korpa.Kolicina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaPica</servlet-name>
        <servlet-class>servleti.ListaPica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KorpaPica</servlet-name>
        <servlet-class>korpa.KorpaPica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisiPicu</servlet-name>
        <servlet-class>brisi.BrisiPicu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikaziPicu</servlet-name>
        <servlet-class>prikazi.PrikaziPicu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Izmeni_picu</servlet-name>
        <servlet-class>izmeni.Izmeni_picu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajPicu</servlet-name>
        <servlet-class>dodaj.DodajPicu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaHamburgera</servlet-name>
        <servlet-class>servleti.ListaHamburgera</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisiHamburger</servlet-name>
        <servlet-class>brisi.BrisiHamburger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajHamburger</servlet-name>
        <servlet-class>dodaj.DodajHamburger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikaziHamburger</servlet-name>
        <servlet-class>prikazi.PrikaziHamburger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Izmeni_hamburger</servlet-name>
        <servlet-class>izmeni.Izmeni_hamburger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaSendvica</servlet-name>
        <servlet-class>servleti.ListaSendvica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KorpaHamburger</servlet-name>
        <servlet-class>korpa.KorpaHamburger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KorpaSendvic</servlet-name>
        <servlet-class>korpa.KorpaSendvic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajSendvic</servlet-name>
        <servlet-class>dodaj.DodajSendvic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisiSendvic</servlet-name>
        <servlet-class>brisi.BrisiSendvic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrikaziSendvic</servlet-name>
        <servlet-class>prikazi.PrikaziSendvic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Izmeni_sendvic</servlet-name>
        <servlet-class>izmeni.Izmeni_sendvic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Clanovi</servlet-name>
        <servlet-class>servleti.Clanovi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrisiClana</servlet-name>
        <servlet-class>servleti.BrisiClana</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObrisiProfil</servlet-name>
        <servlet-class>servleti.ObrisiProfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cena</servlet-name>
        <servlet-class>korpa.Cena</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Naruci</servlet-name>
        <servlet-class>korpa.Naruci</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Narudzbenica_admin</servlet-name>
        <servlet-class>servleti.Narudzbenice_admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Narudzbenica_clan</servlet-name>
        <servlet-class>servleti.Narudzbenice_clan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminN</servlet-name>
        <servlet-class>servleti.ClanN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NarClan</servlet-name>
        <servlet-class>servleti.NarClan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NarAdmin</servlet-name>
        <servlet-class>servleti.NarAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logovanje</servlet-name>
        <url-pattern>/Logovanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Izmena</servlet-name>
        <url-pattern>/Izmena</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registracija</servlet-name>
        <url-pattern>/Registracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Poruka</servlet-name>
        <url-pattern>/Poruka</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reklamacije</servlet-name>
        <url-pattern>/Reklamacije</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisiPoruku</servlet-name>
        <url-pattern>/BrisiPoruku</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Paste</servlet-name>
        <url-pattern>/Paste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaPasta</servlet-name>
        <url-pattern>/ListaPasta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajPastu</servlet-name>
        <url-pattern>/DodajPastu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisiPastu</servlet-name>
        <url-pattern>/BrisiPastu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzmenaPaste</servlet-name>
        <url-pattern>/IzmenaPaste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikaziPastu</servlet-name>
        <url-pattern>/PrikaziPastu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Izmeni_pastu</servlet-name>
        <url-pattern>/Izmeni_pastu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>korpaPasta</servlet-name>
        <url-pattern>/korpaPasta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KorpaPasta</servlet-name>
        <url-pattern>/KorpaPasta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Korpa</servlet-name>
        <url-pattern>/Korpa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IzbaciPastu</servlet-name>
        <url-pattern>/IzbaciPastu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisiKorpu</servlet-name>
        <url-pattern>/BrisiKorpu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kolicina</servlet-name>
        <url-pattern>/Kolicina</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaPica</servlet-name>
        <url-pattern>/ListaPica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KorpaPica</servlet-name>
        <url-pattern>/KorpaPica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisiPicu</servlet-name>
        <url-pattern>/BrisiPicu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikaziPicu</servlet-name>
        <url-pattern>/PrikaziPicu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Izmeni_picu</servlet-name>
        <url-pattern>/Izmeni_picu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajPicu</servlet-name>
        <url-pattern>/DodajPicu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaHamburgera</servlet-name>
        <url-pattern>/ListaHamburgera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisiHamburger</servlet-name>
        <url-pattern>/BrisiHamburger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajHamburger</servlet-name>
        <url-pattern>/DodajHamburger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikaziHamburger</servlet-name>
        <url-pattern>/PrikaziHamburger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Izmeni_hamburger</servlet-name>
        <url-pattern>/Izmeni_hamburger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaSendvica</servlet-name>
        <url-pattern>/ListaSendvica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KorpaHamburger</servlet-name>
        <url-pattern>/KorpaHamburger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>KorpaSendvic</servlet-name>
        <url-pattern>/KorpaSendvic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajSendvic</servlet-name>
        <url-pattern>/DodajSendvic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisiSendvic</servlet-name>
        <url-pattern>/BrisiSendvic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrikaziSendvic</servlet-name>
        <url-pattern>/PrikaziSendvic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Izmeni_sendvic</servlet-name>
        <url-pattern>/Izmeni_sendvic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Clanovi</servlet-name>
        <url-pattern>/Clanovi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrisiClana</servlet-name>
        <url-pattern>/BrisiClana</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObrisiProfil</servlet-name>
        <url-pattern>/ObrisiProfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cena</servlet-name>
        <url-pattern>/Cena</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Naruci</servlet-name>
        <url-pattern>/Naruci</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Narudzbenica_admin</servlet-name>
        <url-pattern>/Narudzbenica_admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Narudzbenica_clan</servlet-name>
        <url-pattern>/Narudzbenica_clan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminN</servlet-name>
        <url-pattern>/AdminN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NarClan</servlet-name>
        <url-pattern>/NarClan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NarAdmin</servlet-name>
        <url-pattern>/NarAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
